@page "/sales-report"

<h3>Sales Report</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    foreach (var venue in GroupedSalesReport)
    {
        <h4>@venue.Key</h4>
        foreach (var productType in venue.Value)
        {
            <h5>@productType.Key</h5>
            <table class="table table-striped auto-width-table">
@*                 <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Sales</th>
                    </tr>
                </thead>
 *@                <tbody>
                    @foreach (var item in productType.Value)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.TotalSales</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
