@inherits InventoryValueBase

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <div class="inventory-value">
        Total Inventory Value: @TotalActiveValue.ToString("C")
        @if (@TotalValue != TotalActiveValue)
        {
            @( $" ({TotalValue.ToString("C")})" )
        }
    </div>
}
