@page "/delivery-note/{DeliveryNoteId:int}"
@rendermode InteractiveWebAssembly
@inherits DeliveryNoteBase

<h3>Delivery Note</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="EditDeliveryNote" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-2">
            <label>Date:</label>
            <InputDate class="form-control" @bind-Value="EditDeliveryNote.Date" />
        </div>
        <div class="mb-2">
            <label>Venue:</label>
            <InputSelect class="form-control" @bind-Value="EditDeliveryNote.VenueId">
                <option value="">-- Select Venue --</option>
                @if (Lookups?.VenueList != null)
                {
                    foreach (var venue in Lookups.VenueList)
                    {
                        <option value="@venue.Id">@venue.VenueName</option>
                    }
                }
            </InputSelect>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </EditForm>
}
