@page "/stock-report"
@inherits StockReportBase
@rendermode InteractiveWebAssembly

<h3>Stock Report</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <ReportFilter
        Lookups="Lookups"
        @bind-VenueId="VenueId"
        @bind-ProductTypeId="ProductTypeId"
        @bind-ProductId="ProductId" />

    if (StockReportItems == null || !StockReportItems.Any())
    {
        <p>No stock data available.</p>
    }
    else
    {
        @foreach (var venueGroup in GroupedStockReport)
        {
            <h4 class="venue-group">@venueGroup.Key</h4>
            @foreach (var productTypeGroup in venueGroup.Value)
            {
                <h5 class="product-group">@productTypeGroup.Key</h5>
                <table class="table table-striped auto-width-table indented-table">
                    <tbody>
                        @foreach (var item in productTypeGroup.Value)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.TotalQuantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }     
    }
}
